/.vs
/Wordlist.*
/Debug
/x64
/src/Wordlist/.vs
/src/Wordlist/x64
/src/Wordlist/*.sln
/src/Wordlist/*.vcxproj*
/src/getwords/.vs
/src/getwords/x64
/src/getwords/*.sln
/src/getwords/*.vcxproj*
/src/core/.vs
/src/core/x64
/src/core/*.sln
/src/core/*.vcxproj*
/src/output/.vs
/src/output/x64
/src/output/*.sln
/src/output/*.vcxproj*
/bin/*.lib
/bin/solution.txt
/bin/*.exp
/bin/*.pdb
/bin/*.exe.lastcode*
