/.vs
/Wordlist.*
/Debug
/x64
/src/Wordlist/.vs
/src/Wordlist/x64
/src/Wordlist/*.sln
/src/Wordlist/*.vcxproj*
/src/Wordlist/TestResults
/src/getwords/.vs
/src/getwords/x64
/src/getwords/*.sln
/src/getwords/*.vcxproj*
/src/getwords/TestResults
/src/core/.vs
/src/core/x64
/src/core/*.sln
/src/core/*.vcxproj*
/src/core/TestResults
/src/core/UpgradeLog.htm
/src/output/.vs
/src/output/x64
/src/output/*.sln
/src/output/*.vcxproj*
/src/output/TestResults
/src/command/.vs
/src/command/x64
/src/command/*.sln
/src/command/*.vcxproj*
/src/command/TestResults
/src/control/.vs
/src/control/x64
/src/control/*.sln
/src/control/*.vcxproj*
/src/control/TestResults
/guilib/.vs
/guilib/x64
/guilib/*.sln
/guilib/*.vcxproj*
/guilib/TestResults
/guilib/__pycache__/
/guilib/guilib.pyproj
/bin/*.lib
/bin/.idea/
/bin/tempFileName.txt
/bin/solution.txt
/bin/error.log
bin/fine-code-coverage/
/bin/*.exp
/bin/*.pdb
/bin/*.exe.lastcode*
/test/coretest/x64
/test/coretest/*.vcxproj*
/test/getwordstest/x64
/test/getwordstest/*.vcxproj*
/test/outputtest/x64
/test/outputtest/*.vcxproj*
/guilib/.idea/
/test/output.txt
/test/solution.txt
