/.vs
/Wordlist.*
/Debug
/x64
/src/Wordlist/.vs
/src/Wordlist/x64
/src/Wordlist/*.sln
/src/Wordlist/*.vcxproj*
/src/Wordlist/TestResults
/src/getwords/.vs
/src/getwords/x64
/src/getwords/*.sln
/src/getwords/*.vcxproj*
/src/getwords/TestResults
/src/core/.vs
/src/core/x64
/src/core/*.sln
/src/core/*.vcxproj*
/src/core/TestResults
/src/output/.vs
/src/output/x64
/src/output/*.sln
/src/output/*.vcxproj*
/src/output/TestResults
/src/command/.vs
/src/command/x64
/src/command/*.sln
/src/command/*.vcxproj*
/src/command/TestResults
/src/controll/.vs
/src/controll/x64
/src/controll/*.sln
/src/controll/*.vcxproj*
/src/controll/TestResults
/bin/*.lib
/bin/solution.txt
/bin/*.exp
/bin/*.pdb
/bin/*.exe.lastcode*
/test/coretest/x64
/test/coretest/*.vcxproj*
/test/getwordstest/x64
/test/getwordstest/*.vcxproj*
/test/outputtest/x64
/test/outputtest/*.vcxproj*